body{
    margin:0;
}
*{
    box-sizing: border-box;
}
.bg-item{
    width: 100%;
    height:100vh;
    background-attachment: fixed;
    background-size: cover;
}
.bg-item:nth-child(1){
    background-image: url(./images/1.jpg);
}
.bg-item:nth-child(2){
    background-image: url(./images/2.jpg);
}
.bg-item:nth-child(3){
    background-image: url(./images/3.jpg);
}
.bg-item:nth-child(4){
    background-image: url(./images/4.jpg);
}
.bg-item:nth-child(5){
    background-image: url(./images/5.jpg);
}
.bg-item:nth-child(6){
    background-image: url(./images/6.jpg);
}
.bg-item:nth-child(7){
    background-image: url(./images/7.jpg);
}
.bg-item:nth-child(8){
    background-image: url(./images/8.jpg);
}
.bg-item:nth-child(9){
    background-image: url(./images/9.jpg);
}
.direction{
    width: 35px;
    height:30px;
    -moz-appearance: button;
    -webkit-appearance: button;
    -webkit-user-select: none;
    position: fixed;
    cursor: pointer;
    left:0;
    right:0;
    margin:0 auto;
    text-align: center;
}
.direction.up{
   top: 0;
}
.direction.down{
    bottom: 0;
}